<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<form action="/envDictListPage">
    <table border="1">
        <tr>
            <td>字典key:</td>
            <td><input name="dictKey" th:value="${envDict1.dictKey}"/></td>
        </tr>
        <tr>
            <td>字典类型:</td>
            <td><select name="dictType" th:field="${envDict1.dictType}">
                <option value="">-----全部-----</option>
                <option value="0">系统参数</option>
                <option value="1">发送参数</option>
            </select></td>
        </tr>
        <tr>
            <td>
                <button type="submit">查询</button>
            </td>
        </tr>
    </table>
</form>

<br>
<table border="1">
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>类型</th>
        <th>字典key</th>
        <th>字典值</th>
        <td>操作</td>
    </tr>
    <tbody>
    <tr th:each="envDict : ${envDictList}">
        <td th:text="*{envDict.id}"></td>
        <td th:text="*{envDict.dictName}"></td>

        <td th:if="*{envDict.dictType} == '0'">系统参数</td>
        <td th:if="*{envDict.dictType == '1'}">发送参数</td>
        <td th:text="*{envDict.dictKey}"></td>
        <td th:text="*{envDict.dictValue}"></td>
        <td><a th:href="@{'/updateEnvDictPage?id='+ *{envDict.id}}">修改此项</a></td>
    </tr>

    </tbody>
</table>
</body>
</html>