<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<form action="/sendRuleListPage">
    <table border="1">
        <tr>
            <td>key:</td>
            <td><input name="keyStr" th:value="${sendRule.keyStr}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">查询</button>
            </td>
        </tr>
    </table>
</form>

<br>
<a href="/saveSendRulePage">新增规则</a>
<br>
<table border="1">
    <tr>
        <th>Key</th>
        <th>最大发送次数</th>
        <th>操作</th>
    </tr>
    <tbody>
    <tr th:each="sendRule : ${sendRuleList}">
        <td th:text="*{sendRule.keyStr}"></td>
        <td th:text="*{sendRule.maxNum}"></td>

        <td><a th:href="@{'/updateSendRulePage?id='+ *{sendRule.keyStr}}">修改此项</a> &nbsp;&nbsp;<a th:href="@{'/deleteSendRuleById?id='+ *{sendRule.keyStr}}" onclick="if(confirm('确定删除?')==false)return false;">删除</a> </td>
    </tr>

    </tbody>
</table>
</body>
</html>